<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.jason.etl.metadatamanager.web.rest.dao.ExternalColumnDao">

    <update id="delete">
        update t_etl_metadata_external_column set copy_name = c_name, c_name = uuid(), status = false
        where 1=2
        <if test="null != ids and ids.size() > 0">
            or c_id in
            <foreach collection="ids" item="id" index="no" open="("
                     separator="," close=")">
                #{id}
            </foreach>
        </if>
    </update>

    <insert id="saveAll" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO etl.t_etl_metadata_external_column
        (c_id, c_name, c_c_name, type_code, is_partition_field, is_primary_key, is_nullable, max_length,
        numeric_scale, table_id, position, created_at, created_by, updated_at, updated_by, comments, status)
        VALUES
        <foreach collection="list" item="column" separator=",">
            (
            #{column.id}, #{column.name}, #{column.cName}, #{column.type}, #{column.partitionField}, #{column.primaryKey}
            , #{column.nullable}, #{column.maxLength}, #{column.numericScale}, #{column.tableId}, #{column.position}
            , #{column.createdTime} , #{column.creator}, #{column.updatedTime}, #{column.updatedBy}, #{column.comments}
            , #{column.status}
            )
        </foreach>
    </insert>

</mapper>
